<% updated_entry = "" %>
<% updated_form = "" %>

<% if @update_type == :about_me_update %>
  <% updated_entry =  escape_javascript(render :partial => "home/about_me_entry", 
            :locals=> {:profile => @profile}) %>
  <% updated_form =  escape_javascript(render :partial => "home/about_me_form", 
            :locals=> {:profile => @profile}) %>
  $(document).ready(function(){
    $("#about-me").replaceWith('<%= updated_entry %>');
    $("#about-me-form").replaceWith("<%= updated_form %>");
  });

    
<% elsif @update_type == :personal_details_update %>
/* Personal detail update*/
  <% new_name = escape_javascript( "<h1 id='name'>#{@profile.name}</h1>").html_safe %>
  <% updated_entry =  escape_javascript(render :partial => "home/personal_details_entry", 
              :locals=> {:profile => @profile}) %> 
  <% updated_form =  escape_javascript(render :partial => "home/personal_details_form", 
              :locals=> {:profile => @profile}) %> 
  $(document).ready(function(){
    $("#personal-details").replaceWith('<%= updated_entry %>');
    $("#personal-details-form").replaceWith("<%= updated_form %>");
    
    $("h1#name").replaceWith("<%= new_name %>");
    
    
    if ( ! ( $.browser.msie & ($.browser.version == 6) ) ){  
      $("h1#name").css({'font-size':'46px', 'padding-top':'20px' , 'margin-bottom':'0px' });
      Cufon.refresh();
    }
    
		
  });
<% elsif @update_type == :profile_pic_update %>

// replace #new_profile_image_form with the crop form and the resized original image
// render the cropper
  <% cropper = escape_javascript( render :partial => "shared/cropper", 
                :locals => {:resource => @profile}) %>
                
  $(document).ready(function(){
    $("#profile-pic-form").replaceWith('<%= cropper %>');
    jQuery('#cropbox').Jcrop( {
        onChange: update_crop,  
        onSelect: update_crop,  
        setSelect: [0, 0, 500, 500],  
        aspectRatio: 1
        });  
    function update_crop(coords) {  
      jQuery('#crop_x').val(coords.x);  
      jQuery('#crop_y').val(coords.y);  
      jQuery('#crop_w').val(coords.w);  
      jQuery('#crop_h').val(coords.h);    
    }
  });





<% end %>

