<div id="header">
	
	<div id="block-top" style="text-align:right;">
	  <% if  current_user %>
	  
	  <%= link_to "Search Jobs", root_url  , :class => "logout-link tip-north jobs ", 
	      :title =>"Cari Lowongan Kerja"%>
	  
	  <%= link_to "CV", root_url  , :class => "logout-link tip-north header-active", 
	      :title =>"Your CV"%>
	      
	      
	  <%= link_to "Setting", edit_credential_url , :class => "logout-link tip-north ", 
	      :title =>"Change Password or Email"%>
	  
	    <%= link_to "Logout", destroy_user_session_url , :class => "logout-link"%>
	  <% end %>
	</div>
	
	
	<% if @profile %>
	<%= render :partial => "home/personal_info", :locals => {:profile => @profile }%>
	
	<% end %>
			
			
	<% if params[:controller] == "home" %>		
	  <%= render :partial => "home/home_navigation" %>
	<% end %>
	
	<% if params[:controller] == "passwords" %>
	  <%= render :partial => "home/setting_navigation" %>
	<% end %>
	
	<% if params[:controller] == "job" %>
	  <%= render :partial => "home/jobs_navigation"%>
	<% end %>

  
  
	<div class="divider"></div>
	
</div><!-- end #header -->