<div id="header">
	
	<div id="block-top" style="text-align:right;">
	  <% if  current_user %>
	  
	  <%= link_to "Search Jobs", root_url  , :class => "logout-link tip-north jobs ", 
	      :title =>"Cari Lowongan Kerja"%>
	  
	  <%= link_to "CV", root_url  , :class => "logout-link tip-north header-active", 
	      :title =>"Your CV"%>
	      
	      
	  <%= link_to "Setting", "http://google.com"  , :class => "logout-link tip-north", 
	      :title =>"Change Password or Email"%>
	  
	    <%= link_to "Logout", destroy_user_session_url , :class => "logout-link"%>
	  <% end %>
	</div>
	
	
	<% if @profile %>
	<%= render :partial => "home/personal_info", :locals => {:profile => @profile }%>
	
	<% end %>
			
	<ul id="nav" class="fixed">
	  <% if can_edit?(@profile) %>
  	  <li><a href="portfolio.html">Gallery</a></li>
  		<li>/</li>
		<% end %>
		<li>
		  <%= link_to "Resume", root_url, :class => "#{get_active_nav(params, 'resume') }"%>
		</li>
		<li>/</li>
		<li>
		  <%= link_to "Portfolio", portfolios_url, :class => "#{get_active_nav(params, 'portfolio') }" %>
		</li>
		<% if can_edit?(@profile)%>
  		<li>/</li>
  		<li><a href="portfolio.html">Testimonial</a></li>
		<% end %>
	</ul><!-- end #nav -->

  
  
	<div class="divider"></div>
	
</div><!-- end #header -->