<% content_for :head do %>
<script type="text/javascript">
$(document).ready(function(){
  $('#picture-of-you').tipsy("show");
  
  $('#picture-of-you').tipsy({
    title: 'html-title',
    fade :true,
    html: true
  });
});
</script>
<% end %>

<div id="personal-info" class="fixed">
  <% text = "" %>

  <% if  profile.cropped_profile_pic.nil? %>
    <% text =  "Click untuk tambah profile pic <br />" %>
  <% else %>
    <% text = "Click untuk ganti profile pic <br />"%>
  <% end %>

  <a id="picture-of-you"  href="http://www.ibukitakartini.com/wp-content/files_mf/lunamaya2.jpg" 
    rel="<%#= rel %>"  html-title="<%= text.html_safe %>"  class="trigger-profile-form">
    <% if profile.cropped_profile_pic.nil? %>
      <%= image_tag "100x100-placeholder.jpg"%>
    <% else %>
      <%= image_tag "#{profile.cropped_profile_pic}", :width => "100", :height => "100"%>
    <% end %>
  </a>

<h1 id="name" title="<%= "Coba bawa mouse anda ke bawah, bagian Personal Details"%>" class="tip-south"><%= @profile.name || "Your name here"%></h1>
<h2 id="what-you-do">Automobile SPG</h2>
</div><!-- end #personal-info -->





