
<li class="cv-item fixed" id="skill-<%= skill.id %>"> 

  <span class="level appendix <%= skill_level_visualizer(skill.proficiency) %>">Extensive skillset</span>
  <div class="cv-item-content">	
    <span class="topic"><%= skill.name %></span>     
    <%= skill.description %>

  </div>

  <% if can_edit?(profile)%>
    <div class="sub-actions">
      <a href="#" class="action-button edit">edit</a>
      <a href="#" class="action-button cancel hidden">cancel</a>
      <%= link_to "delete", skill_url( skill ), :class=>"action-button delete"%>
    </div>
  
    <%= render :partial => "home/skill_form", :locals => {:skill => skill}%>
  <% end %>
</li>