<% class_value = "" %>
<% if work_experience.new_record? %>
  <% class_value = "new-form"%>
<% else %>
  <% class_value = "edit-form"%>
<% end %>

<%= form_for work_experience , :html => {:class=>"uniForm hidden cv-section-form #{class_value}" } do |f| %>
   <fieldset class="inlineLabels">
     <div class="ctrlHolder">
       <%= f.label :company_name, "Nama Perusahaan" %>
       <%= f.text_field :company_name,  :size => "35", :class => "textInput" %>
     </div>

     <div class="ctrlHolder">
       <%= f.label :position, "Jabatan" %>
      <%= f.text_field :position,  :size => "35", :class => "textInput" %>
     </div>
     
     <div class="ctrlHolder">
        <%= f.label :type_of_employment, "Status Kerja" %>
       <%= f.text_field :type_of_employment,  :size => "35", :class => "textInput" %>
     </div>

     <div class="ctrlHolder">
       <%= f.label :description, "Deskripsi Pekerjaan" %>
       <%= f.text_area :description,  :rows => "25", :cols=> "25" %>
     </div>
     
     <div class="buttonHolder"><button type="submit" class="primaryAction">Submit</button></div>
   </fieldset>

<% end %>

