<li class="cv-item fixed" id="work_experience-<%= work_experience.id %>">
	
	<h4><%= give_interval(work_experience)%></h4>
	
	<div class="cv-item-content" >
		<h2><%= work_experience.position %></h2>
		<h3><%= work_experience.company_name %>, <%= work_experience.type_of_employment%></h3>
		<br />
    
    
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed
		 erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim.
		 Phasellus molestie magna non est bibendum non venenatis nisl tempor.</p>
		<ul>
			<li>Nunc in dolor id lacus dictum euismod molestie ut tortor</li>
			<li>Donec eget nunc pulvinar tortor sollicitudin consectetur id eget eros</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
		</ul> 
		
		
    
    
	</div>	
	
	<div class="sub-actions">
    <a href="#" class="action-button edit">edit</a>
    <a href="#" class="action-button cancel hidden">cancel</a>
  </div>
  
 <%= render :partial => "home/work_experience_form", :locals => {:work_experience => work_experience} %>
	
</li>