

<!-- ////////////////////////////////////////////////////////////////////////////////////// -->
  <%= render :partial => "profile_pic_form", :locals => {:resource => @profile}%>


	<div id="cv-3">
	
		<!-- // PERSONAL DETAILS     ////////////////////////////////////////////////////// -->
	  <%= render :partial => "personal_details"%>
		<!-- // PROFESIONAL PROFILE  ////////////////////////////////////////////////////// -->
		<%= render :partial => "about_me"%>
		
		<!-- // WORK EXPERIENCE      ////////////////////////////////////////////////////// -->
		<%= render :partial => "work_experiences"%>
		
		<!-- // TECHNICAL SKILLS     ////////////////////////////////////////////////////// -->
		<%= render :partial => "skills"%>
		
		<!-- // EDUCATION            ////////////////////////////////////////////////////// -->
		<%= render :partial => "educations"%>
		
	</div><!-- end #cv-3 -->	

	
<!-- ////////////////////////////////////////////////////////////////////////////////////// -->	

