<div class="cv-section col-1 fixed">

  <h1 class="form-notification"><%= flash[:notice] %></h1>



  <h2 class="cv-section-name">Change Password</h2>


  <%= form_for( @user , :as => @user, :url => update_password_url ,
        :html => {:method => :put, :class => " uniForm  cv-section-form showLoad" } ) do |f| %>

  <fieldset class="inlineLabels">
    <!--     <input id="personal_details_update" name="personal_details_update" type="hidden" 
    value="VUBJKB23UIVI1UU1VOBVI@" /> -->
    <div class="ctrlHolder">
      <%= f.label :current_password, "Password Sekarang" %>
      <%= f.password_field :current_password,  :size => "35", :class => "textInput"  %>
    </div>


    <div class="ctrlHolder">
      <%= f.label :password, "Password" %>
      <%= f.password_field :password,  :size => "35", :class => "textInput" %>
    </div>


    <div class="ctrlHolder">
      <%= f.label :password_confirmation, "Password Confirmation"%>
      <%= f.password_field :password_confirmation, :size => "35", :class => "textInput" %>
      <p class="formHint">Konfirmasi Password anda</p>
    </div>



    <div class="buttonHolder"><button type="submit" class="primaryAction">Submit</button></div>
  </fieldset>
  <% end %>
</div>